# TensorFlow_Keras Introdution

# Simple Neural Network using TensorFlow

In [1]:
# pip install numpy

In [2]:
# pip install pandas

In [3]:
# import numpy as np

# Installing Deep Learning Libraries

In [4]:
# !pip install pandas 
# !pip install seaborn 
# !pip install tensorflow

In [5]:
# pip install matplotlib

In [6]:
# pip install seaborn as sns

# Importing Installed DL Libraries

In [7]:
#import matplotlib.pyplot as plt

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

import tensorflow as tf

In [9]:
# pip install seaborn

In [10]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
# pip install scikit-learn

In [12]:
# pip install tensorflow

# Required Libraries for DL are installed above.

# Importing Required Libraraies.

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
df.dropna(subset=['age', 'embarked'], inplace=True)

In [17]:
df = pd.get_dummies(df, columns = ['sex', 'embarked', 'class', 'who', 'deck'], drop_first=True)

In [18]:
X = df.drop(['survived', 'alive', 'embark_town', 'adult_male', 'alone'], axis=1)
y = df['survived']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
X_train.shape[1]

18

In [22]:
X_train.shape

(569, 18)

In [23]:
# Building the model

# define the layers of the model
input_layer = tf.keras.layers.Dense(10, activation='relu', input_shape=(X_train.shape[1],)) # input layer
# hidden_layer = tf.keras.layers.Dense(10, activation='relu') # hidden layer
output_layer = tf.keras.layers.Dense(1, activation='sigmoid') # output layer

# combine the layers into a model
model = tf.keras.models.Sequential([input_layer, 
                                    # hidden_layer, 
                                    output_layer])

# Compile the model
model.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

# Training the Model

In [24]:
# import time
# %%time
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

Epoch 1/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 21s 37ms/step - accuracy: 0.6813 - loss: 0.6937
Epoch 2/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.7193 - loss: 0.6394
Epoch 3/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 23ms/step - accuracy: 0.7450 - loss: 0.5876
Epoch 4/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step - accuracy: 0.7363 - loss: 0.5989
Epoch 5/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 24ms/step - accuracy: 0.7574 - loss: 0.5400
Epoch 6/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.7724 - loss: 0.5300
Epoch 7/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 23ms/step - accuracy: 0.7810 - loss: 0.5144
Epoch 8/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.7923 - loss: 0.4949
Epoch 9/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.7983 - loss: 0.5058
Epoch 10/10
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 23ms/step - accuracy: 0.7823 - loss: 0.4958

# Testing the Model

In [25]:
loss, accuracy =  model.evaluate(X_test, y_test, verbose=1)
print(f'Test akkurasy: {accuracy}')
print(f'Test loss: {loss}')

5/5 ━━━━━━━━━━━━━━━━━━━━ 2s 41ms/step - accuracy: 0.7937 - loss: 0.4775
Test akkurasy: 0.7692307829856873
Test loss: 0.5058794617652893